.app-bar {
  text-align: center;
}

.todo-list {
  max-width: 800px;
  margin: auto;

  &-item {
    min-height: 1em;

    &-modal {
      &-textfield {
        width: 100% !important;
      }
    }
  }
}