.app-bar {
  text-align: center;
}

.todo-list {
  &-wrapper {
    max-width: 800px;
    margin: 12px auto;
  }

  &-item {
    min-height: 1em;

    &-modal {
      &-textfield {
        width: 100% !important;
      }
    }
  }
}

.todo-add-button {
  margin-top: 12px;
}